<!DOCTYPE html>
<html ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/stylesheets/main.css" media="screen" title="no title" charset="utf-8">
    <title>Gail App</title>
    <base href="/" />
  </head>

  <body id="background" ng-controller="MainController as main">
    <nav ng-controller="NavigationController as navCtrl" class="navbar navbar-default navbar-fixed-top" id="jump_top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" ui-sref="Index"><span class="glyphicon glyphicon-education"></span></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li ng-cloak ng-show="navCtrl.isLoggedIn"><a uib-btn ui-sref="StudentDisplay">Student Display</a></li>
            <li ng-cloak ng-show="navCtrl.isAdmin"><a uib-btn ui-sref="QuestionForm">New Questions</a></li>
            <li ng-cloak ng-show="navCtrl.isAdmin"><a uib-btn ui-sref="TestBank">Test Bank</a></li>
            <li ng-cloak ng-show="navCtrl.isLoggedIn"><a uib-btn ui-sref="PracticeTest">Practice Test</a></li>
            <li ng-cloak ng-show="navCtrl.isLoggedIn"><a uib-btn ui-sref="GradeDisplay">Grade Display</a></li>
            <li ng-cloak ng-show="navCtrl.isAdmin"><a uib-btn ui-sref="Admin">Admin</a></li>
            <li ng-cloak ng-show="navCtrl.isAdmin"><a uib-btn ui-sref="AdminList">Admin List</a></li>
            <li ng-cloak ng-show="navCtrl.isAdmin"><a uib-btn ui-sref="TestArray">Test Array</a></li>
            <li ng-cloak ng-show="navCtrl.isAdmin"><a uib-btn ui-sref="TestRandomizer">Test Randomizer</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li ng-cloak id="navLoginName" ng-show="navCtrl.isLoggedIn"><span class="label" data-ng-class="{&quot;label-info&quot;: navCtrl.currentUser.role == 'student', &quot;label-success&quot;: navCtrl.currentUser.role == 'admin'}">{{ navCtrl.currentUser.role }}</span>&nbsp<img style="height: 30px;" src="{{navCtrl.currentUser.avatar}}" alt="avatar">&nbsp{{navCtrl.currentUser.name}}&nbsp&nbsp</li>
            <li ng-cloak ng-hide="navCtrl.isLoggedIn"><button class="btn btn-primary" id="log_in" ng-click="navCtrl.showModal()"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;Sign in</button></li>
            <!-- <li ng-hide="navCtrl.isLoggedIn"><a uib-btn ui-sref="Register">Register</a></li> -->
            <li ng-cloak ng-show="navCtrl.isLoggedIn"><button class="btn btn-warning" ng-click="navCtrl.logout()" id="log_out">Log out</button></li>
            <!-- <li>
              <button ng-show="!main.login()" class="btn btn-primary" id="log_in" ng-click="main.showModal()"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;Sign in</button>
              <button ng-show="main.login()" ng-click="main.logout()" class="btn btn-warning" id="log_in">Log out</button>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>

    <ui-view></ui-view>

    <script src="/jquery/dist/jquery.min.js" charset="utf-8"></script>
    <script src="/angular/angular.min.js" charset="utf-8"></script>
    <script src="/angular-bootstrap/ui-bootstrap-tpls.js" charset="utf-8"></script>
    <script src="/angular-resource/angular-resource.min.js" charset="utf-8"></script>
    <script src="/angular-ui-router/release/angular-ui-router.min.js" charset="utf-8"></script>
    <script src="/angular-touch/angular-touch.min.js" charset="utf-8"></script>
    <script src="/angular-animate/angular-animate.min.js" charset="utf-8"></script>
    <script src="/angular-timer/dist/angular-timer.js" charset="utf-8"></script>
    <script src="/humanize-duration/humanize-duration.js" charset="utf-8"></script>
    <script src="/moment/moment.js" charset="utf-8"></script>
    <script src="/javascripts/app.js" charset="utf-8"></script>
    <script src="/javascripts/controllers.js" charset="utf-8"></script>
    <script src="/javascripts/services.js" charset="utf-8"></script>
  </body>
</html>
