<br><br><br><br>
<h1>Admin List Page</h1>
<p>{{vm.message}}</p>
<form ng-repeat="user in vm.users" class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">Avatar</label>
    <p class="form-control-static"><img src="{{user.avatar}}" alt="avatar"></p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Full name</label>
    <p class="form-control-static">{{ user.username }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Email</label>
    <p class="form-control-static">{{ user.email }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Role</label>
    <p class="form-control-static">{{ user.role }}</p>
  </div>
</form>
