<br><br><br>
<table border="2" style="padding:30px;text-align:left;">
<thead style="padding:10px;">
  <th class="admin-center">
    Student Name
  </th>
  <th class="admin-center">
    Assigned Exams
  </th>
  <th class="admin-center">
    Add an Exam
  </th>
</thead>
<tbody id="row" style="padding:10px;">
  <tr ng-repeat="student in vm.students">
    <td class="student" value="$index">
      <div class="admin-center">
        <p style="width:60px;margin-left:5px;" class="label" data-ng-class="{&quot;label-info&quot;: student.role == 'student', &quot;label-success&quot;: student.role == 'admin'}">{{ student.role }}</p>
        </br>
        <img style="padding: 5px;margin-left:5px;" src="{{student.avatar}}" alt="avatar">
        </br>
        {{student.username}}
      </div>
    </td>
    <td>
      <span ng-repeat="(key,value) in student.practiceTests">
        <div class="row">
          <h4 class="center">Exam {{key}}&nbsp<span><button ng-click="vm.deleteExam(key,$parent.$index)" class="btn btn-danger btn-xs" type="button" name="button">Delete</button><span></h4>
          <div ng-repeat="(subexam,val) in value" ng-class="{'col-xs-12': {{vm.keys(value).length==1}},'col-xs-6':{{vm.keys(value).length==2}},'col-xs-4':{{vm.keys(value).length==3}},'col-xs-3':{{vm.keys(value).length>3}}}" class="admin-center">
            <button ng-click="vm.showModal(student,key,subexam)" class="btn btn-success" type="button" name="button">SubExam {{subexam}}</button>
            <div class="admin-center" ng-hide="{{student.gradeArray[key][subexam]['submitted'].length}}">
              No attempts yet
            </div>
            <div class="admin-center" ng-show="{{student.gradeArray[key][subexam]['submitted'].length}}">
              Recent Grade: {{student.gradeArray[key][subexam]['recentGrade']}}%</br>
              Average Grade: {{student.gradeArray[key][subexam]['gradeAverage']}}%
            </div>
          </div>
          <hr style="color:black;background-color:black;height:2px;width:75%;">
        </div>
      </span>
    </td>
    <td>
      <div class="admin-center" ng-repeat="exam in vm.examsAvailable[0].examAvailable">
        <button ng-show="student.examsAvailable.indexOf(exam.toString())==-1" ng-click="vm.assignExam(student,exam,$parent.$index)" type="button" class="btn btn-success" name="button">{{exam}}</button>
      </div>
    </td>
  </tr>
</tbody>
</table>
<h1>{{vm.message}}</h1>
