<br><br><br>

<div class="container">
  <div class="practiceTest">
    <div class="row">
      <div class="col-xs-9 col-xs-offset-1">
        <div ng-hide="vm.message == 'Good Luck!'">
          <h1 class="center">Select an Exam to Take</h1>
          <div class="row">
            <div class="col-xs-3" ng-repeat="exam in vm.examsAvailable">
              <h2 class="center">{{exam}} {{vm.student.examNames[exam]}}</h2>
              <div class="row">
                <div style="margin-bottom: 8px;" class="col-xs-3" ng-repeat="(key,value) in vm.student.practiceTests[exam]">
                  <button ng-click="vm.selectExam(exam,key)" style="min-width: 44px;" class="btn btn-success" type="button" name="button">{{key}}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div ng-hide="vm.submitted" ng-show="vm.message == 'Good Luck!'" class="row">
      <h2 style="text-align:center;">{{vm.message}}</h2>
      <timer ng-if="vm.message == 'Good Luck!'"  finish-callback="vm.submitExam('outoftime')" countdown="1800" interval="1000">{{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer>
      <div ng-if="vm.message == 'Good Luck!'" class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{(vm.answered/vm.questions.length)*100}}"
        aria-valuemin="0" aria-valuemax="100" style="width:{{(vm.answered/vm.questions.length)*100}}%">
          {{(vm.answered/vm.questions.length)*100 | number:0}}%
        </div>
      </div>
      <div class="col-xs-3">
        <div class="row">
          <div ng-repeat="question in vm.questions" style="margin-top: 5px;" class="col-xs-6">
            <div class="test" ng-class="{'answered': vm.answers[$index], 'needTwo': vm.needTwo[$index]}">
              <span ng-click="vm.goToPage($index+1)">{{$index+1}}</span>
            </div>
            <span>{{vm.answers[$index].toString()}}</span>
          </div>
        </div>
      </div>
      <div ng-show="vm.message == 'Good Luck!'" class="col-xs-9">
        <div class="row">
          <div class="col-xs-12">
            <h3>Question # {{vm.currentPage}}</h3>
            <p>
              Question: {{vm.questions[vm.currentPage-1].question}}
            </p>
            <!-- For standard questions -->
            <form ng-hide="vm.questions[vm.currentPage-1].selectTwo=='Y'">
              <label for="radio">Select the One Best Answer: </label><br>
              <div class="radio-inline" style="float:none;">
                <label><input ng-change="vm.enterAnswer1(vm.currentPage-1)" ng-model="vm.studentAnswer[vm.currentPage-1]" type="radio" value="A">A) {{vm.questions[vm.currentPage-1].answerA}}</label>
              </div>
              <br>
              <div class="radio-inline" style="float:none;">
                <label><input ng-change="vm.enterAnswer1(vm.currentPage-1)" ng-model="vm.studentAnswer[vm.currentPage-1]" type="radio" value="B">B) {{vm.questions[vm.currentPage-1].answerB}}</label>
              </div>
              <br>
              <div class="radio-inline" style="float:none;">
                <label><input ng-change="vm.enterAnswer1(vm.currentPage-1)" ng-model="vm.studentAnswer[vm.currentPage-1]" type="radio" value="C">C) {{vm.questions[vm.currentPage-1].answerC}}</label>
              </div>
              <br>
              <div class="radio-inline" style="float:none;">
                <label><input ng-change="vm.enterAnswer1(vm.currentPage-1)" ng-model="vm.studentAnswer[vm.currentPage-1]" type="radio" value="D">D) {{vm.questions[vm.currentPage-1].answerD}}</label>
              </div>
              <br><br>
              <!-- <input class="btn btn-success" type="submit" name="Submit" value="Submit Answer"> -->
            </form>
            <!-- For select two questions -->
            <form ng-show="vm.questions[vm.currentPage-1].selectTwo=='Y'">
              <label for="radio">Select the Two Best Answers: </label><br>
              <div class="checkbox-inline" style="float:none;">
                <label><input ng-change="vm.enterAnswer2(vm.currentPage-1,0,'A')" ng-model="vm.studentAnswerA[vm.currentPage-1]" class="selectTwoQuest" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'">A) {{vm.questions[vm.currentPage-1].answerA}}</label>
              </div>
              <br>
              <div class="checkbox-inline" style="float:none;">
                <label><input ng-change="vm.enterAnswer2(vm.currentPage-1,1,'B')" ng-model="vm.studentAnswerB[vm.currentPage-1]" class="selectTwoQuest" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'">B) {{vm.questions[vm.currentPage-1].answerB}}</label>
              </div>
              <br>
              <div class="checkbox-inline" style="float:none;">
                <label><input ng-change="vm.enterAnswer2(vm.currentPage-1,2,'C')" ng-model="vm.studentAnswerC[vm.currentPage-1]" class="selectTwoQuest" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'">C) {{vm.questions[vm.currentPage-1].answerC}}</label>
              </div>
              <br>
              <div class="checkbox-inline" style="float:none;">
                <label><input ng-change="vm.enterAnswer2(vm.currentPage-1,3,'D')" ng-model="vm.studentAnswerD[vm.currentPage-1]" class="selectTwoQuest" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'">D) {{vm.questions[vm.currentPage-1].answerD}}</label>
              </div>
              <br>
              <div class="checkbox-inline" style="float:none;">
                <label><input ng-change="vm.enterAnswer2(vm.currentPage-1,4,'E')" ng-model="vm.studentAnswerE[vm.currentPage-1]" class="selectTwoQuest" type="checkbox" ng-true-value="'Y'" ng-false-value="'N'">E) {{vm.questions[vm.currentPage-1].answerE}}</label>
              </div>
              <br><br>
              <!-- <input class="btn btn-success" type="submit" name="Submit" value="Submit Answer"> -->
              <!-- Error on correct answer input -->
              <div style="color: red;float:left;" ng-show="vm.moreMessage">
                {{vm.moreMessage}}
              </div>
              <div style="color: red;float:left" ng-show="vm.messageMin">
                {{vm.messageMin}}
              </div>

            </form>
          </div>
          </div>
          <div class="col-xs-12">
            <ul ng-show="vm.message == 'Good Luck!'" uib-pagination total-items="vm.totalItems" items-per-page="1" ng-model="vm.currentPage" ng-change="vm.pageChanged()"></ul>
          </div>
        </div>


    </div>
    <br><br>
    <div ng-hide="vm.submitted" ng-show="vm.message == 'Good Luck!'" class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <input ng-show="vm.message == 'Good Luck!'" ng-click="vm.submitExam('intimes')" type="button" class="btn btn-primary" name="Submit" value="Submit Exam">
      </div>
    </div>

    <!-- Grading display -->
    <div ng-show="vm.submitted">
      <h1 class="center" style="color:red;">{{vm.message5}}</h1>
      <h1 class="center">{{vm.examNameSelect}}</h1>
      <h1 class="center">Exam {{vm.examSelect}}/Subexam {{vm.subexamSelect}}</h1>
      <h3>Elapsed time: <span ng-show="Math.floor((vm.elapsedTime-1)/60)">{{Math.floor((vm.elapsedTime-1)/60)}} minutes,</span> {{(vm.elapsedTime-1)%60}} seconds</h3>
      <h4>{{vm.message2}}</h4>
      <br>
      <h4>{{vm.message3}}</h4>
      <br>
      <h2>{{vm.message4}}</h2>
      <br>
      <div class="row" ng-repeat="question in vm.questions">
        <div class="col-xs-8 col-xs-offset-2">
          <h3 style="margin-left: -50px;font-weight:bold;"><span ng-show="vm.answers[$index][0] == question.correctAnswer[0] && question.selectTwo != 'Y'" class="glyphicon glyphicon-ok-sign green"></span><span ng-show="vm.answers[$index][0] == question.correctAnswer[0] && vm.answers[$index][1] == question.correctAnswer[1] && question.selectTwo == 'Y'" class="glyphicon glyphicon-ok-sign green"></span><span ng-show="vm.answers[$index][0] != question.correctAnswer[0] && question.selectTwo != 'Y'" class="glyphicon glyphicon-remove-sign red"></span><span ng-show="(vm.answers[$index][0] != question.correctAnswer[0] || vm.answers[$index][1] != question.correctAnswer[1]) && question.selectTwo == 'Y'" class="glyphicon glyphicon-remove-sign red"></span>Question # {{$index+1}}</h3>
          <h4>
            {{question.question}}
          </h4>
          <div ng-hide="question.selectTwo=='Y'">
            <h5>You Answered {{vm.answers[$index].toString()}} and the Correct Answer is {{question.correctAnswer.toString()}}</h5>
            <div class="row">
              <div class="col-xs-2" style="margin-left:-65px;text-align:right;">
                <span ng-show="vm.answers[$index][0] == 'A'" class="glyphicon glyphicon-arrow-right black"></span><span ng-show="question.correctAnswer[0] != 'A' && vm.answers[$index][0]== 'A'" class="glyphicon glyphicon-remove-sign red"></span><span ng-show="question.correctAnswer[0] == 'A'" class="glyphicon glyphicon-ok-sign green"></span>A)
              </div>
              <div class="col-xs-10" style="margin-left:-25px;">
                {{question.answerA}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2" style="margin-left:-65px;text-align:right;">
                <span ng-show="vm.answers[$index][0] == 'B'" class="glyphicon glyphicon-arrow-right black"></span><span ng-show="question.correctAnswer[0] != 'B' && (vm.answers[$index][0]== 'B' || vm.answers[$index][1]== 'B')" class="glyphicon glyphicon-remove-sign red"></span><span ng-show="question.correctAnswer[0] == 'B'" class="glyphicon glyphicon-ok-sign green"></span>B)
              </div>
              <div class="col-xs-10" style="margin-left:-25px;">
                {{question.answerB}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2" style="margin-left:-65px;text-align:right;">
                <span ng-show="vm.answers[$index][0] == 'C'" class="glyphicon glyphicon-arrow-right black"></span><span ng-show="question.correctAnswer[0] != 'C' && vm.answers[$index]== 'C'" class="glyphicon glyphicon-remove-sign red"></span><span ng-show="question.correctAnswer[0] == 'C'" class="glyphicon glyphicon-ok-sign green"></span>C)
              </div>
              <div class="col-xs-10" style="margin-left:-25px;">
                {{question.answerC}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2" style="margin-left:-65px;text-align:right;">
                <span ng-show="vm.answers[$index][0] == 'D'" class="glyphicon glyphicon-arrow-right black"></span><span ng-show="question.correctAnswer[0] != 'D' && vm.answers[$index]== 'D'" class="glyphicon glyphicon-remove-sign red"></span><span ng-show="question.correctAnswer[0] == 'D'" class="glyphicon glyphicon-ok-sign green"></span>D)
              </div>
              <div class="col-xs-10" style="margin-left:-25px;">
                {{question.answerD}}
              </div>
            </div>
          </div>
          <div ng-show="question.selectTwo=='Y'">
            <h4>You Answered {{vm.answers[$index].toString()}} and the Correct Answer is {{question.correctAnswer.toString()}}</h4>
            <div class="row">
              <div class="col-xs-2" style="margin-left:-65px;text-align:right;">
                <span ng-show="vm.answers[$index][0] == 'A' || vm.answers[$index][1] == 'A'" class="glyphicon glyphicon-arrow-right black"></span><span ng-show="(question.correctAnswer[0] != 'A' && question.correctAnswer[1] != 'A') && (vm.answers[$index][0] == 'A' || vm.answers[$index][1] == 'A')" class="glyphicon glyphicon-remove-sign red"></span><span ng-show="question.correctAnswer[0] == 'A' || question.correctAnswer[1] == 'A'" class="glyphicon glyphicon-ok-sign green"></span>A)
              </div>
              <div class="col-xs-10" style="margin-left:-25px;">
                {{question.answerA}}
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2" style="margin-left:-65px;text-align:right;">
                <span ng-show="vm.answers[$index][0] == 'B' || vm.answers[$index][1] == 'B'" class="glyphicon glyphicon-arrow-right black"></span><span ng-show="(question.correctAnswer[0] != 'B' && question.correctAnswer[1] != 'B') && (vm.answers[$index][0] == 'B' || vm.answers[$index][1] == 'B')" class="glyphicon glyphicon-remove-sign red"></span><span ng-show="question.correctAnswer[0] == 'B' || question.correctAnswer[1] == 'B'" class="glyphicon glyphicon-ok-sign green"></span>B)
              </div>
              <div class="col-xs-10" style="margin-left:-25px;">
              {{question.answerB}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2" style="margin-left:-65px;text-align:right;">
              <span ng-show="vm.answers[$index][0] == 'C' || vm.answers[$index][1] == 'C'" class="glyphicon glyphicon-arrow-right black"></span><span ng-show="(question.correctAnswer[0] != 'C' && question.correctAnswer[1] != 'C') && (vm.answers[$index][0] == 'C' || vm.answers[$index][1] == 'C')" class="glyphicon glyphicon-remove-sign red"></span><span ng-show="question.correctAnswer[0] == 'C' || question.correctAnswer[1] == 'C'" class="glyphicon glyphicon-ok-sign green"></span>C)
            </div>
            <div class="col-xs-10" style="margin-left:-25px;">
              {{question.answerC}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2" style="margin-left:-65px;text-align:right;">
              <span ng-show="vm.answers[$index][0] == 'D' || vm.answers[$index][1] == 'D'" class="glyphicon glyphicon-arrow-right black"></span><span ng-show="(question.correctAnswer[0] != 'D' && question.correctAnswer[1] != 'D') && (vm.answers[$index][0] == 'D' || vm.answers[$index][1] == 'D')" class="glyphicon glyphicon-remove-sign red"></span><span ng-show="question.correctAnswer[0] == 'D' || question.correctAnswer[1] == 'D'" class="glyphicon glyphicon-ok-sign green"></span>D)
            </div>
            <div class="col-xs-10" style="margin-left:-25px;">
              {{question.answerD}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2" style="margin-left:-65px;text-align:right;">
              <span ng-show="vm.answers[$index][0] == 'E' || vm.answers[$index][1] == 'E'" class="glyphicon glyphicon-arrow-right black"></span><span ng-show="(question.correctAnswer[0] != 'E' && question.correctAnswer[1] != 'E') && (vm.answers[$index][0] == 'E' || vm.answers[$index][1] == 'E')" class="glyphicon glyphicon-remove-sign red"></span><span ng-show="question.correctAnswer[0] == 'E' || question.correctAnswer[1] == 'E'" class="glyphicon glyphicon-ok-sign green"></span>E)
            </div>
            <div class="col-xs-10" style="margin-left:-25px;">
              {{question.answerE}}
            </div>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
