<br><br><br><br>
<h1>Student Page</h1>
<p>{{vm.message}}</p>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-3 control-label">Full name</label>
    <p class="form-control-static">{{ vm.user.name }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Email</label>
    <p class="form-control-static">{{ vm.user.email }}</p>
  </div>
  <div class="form-group">
    <label class="col-sm-3 control-label">Role</label>
    <p class="form-control-static">{{ vm.user.role }}</p>
  </div>
</form>
