body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: beige;
}

.radio-inline {
  float:left;
}

.test {
  background-color: black;
  color: beige;
  border-radius: 5px;
  width:20px;
  display:inline-block;
  text-align:center;
}

.answered {
  background-color: green;
}

.needTwo {
  background-color: red!important;
}

.checkbox-inline {
  float:left;
}

table {
    width: 100%;
}

th {
    height: 50px;
}

th, td {
    padding: 15px;
    text-align: left;
}

.center {
  text-align: center;
}

.admin-center {
  text-align: center;
  margin-bottom: 5px;
}

.red {
  color: red;
}

.green {
  color: green;
}

#log_in {
  position: relative;
  margin-top: 9%;
  margin-left: -10%;
}

#log_out {
  position: relative;
  margin-top: 11%;
  margin-left: -10%;
}

#login_header {
  background: #0095da;
}

#login_title {
  text-align: center;
}

#navLoginName {
  padding-top: 12px;
  padding-left: 10px;
  font-weight: bold !important;
  color: blue !important;
  font-size: 20px !important;
}

.login_body {
  text-align: center;
}

label {
  display: inline-block;
  /*text-align: center;*/
}

#questionTextarea {
  resize: none;
}

input[type="text"] {
             display: inline-block;
             margin : 0 auto auto -7%;
             width:600px;
}

a {
  color: #00B7FF;
}
